<div class="card-overlay">
  <div class="card-overlay__body">
    <h3 class="card-overlay__title">{{ thePost.title.rendered }}</h3>
    <div class="card-overlay__excerpt">{{ thePost.excerpt.rendered | truncate: 150 }}</div>
  </div>
  <picture>
    <source type="image/webp" srcset="{{ thePost.better_featured_image.media_details.sizes.medium_large.source_url | replace: '.jpg', '.webp' }}">
    <source type="image/jpg" srcset="{{ thePost.better_featured_image.media_details.sizes.medium_large.source_url }}">
    <img 
      class="card-overlay__img" 
      src="{{ thePost.better_featured_image.media_details.sizes.medium_large.source_url }}" 
      alt="{{ thePost.title.rendered }}"
      width="{{ thePost.better_featured_image.media_details.sizes.medium_large.width }}"
      height="{{ thePost.better_featured_image.media_details.sizes.medium_large.height }}"
      loading="lazy"
    >
  </picture>
  <a href="/posts/{{ thePost.id }}" class="card-overlay__link-overlay"></a>
</div>