<div class="post-preview-vertical">
  <div class="post-preview-vertical__header">
    <img
      class="post-preview-vertical__img"
      src="{{ thePost.jetpack_featured_media_url }}"
      alt="{{ thePost.title.rendered }}"
    />
  </div>
  <div class="post-preview-vertical__body">
    <h3 class="post-preview-vertical__title">{{ thePost.title.rendered }}</h3>
    <time class="post-preview-vertical__date" datetime="{{ thePost.date }}">{{ thePost.date | date: " %d/%m/%Y" }}</time>
    <div class="post-preview-vertical__excerpt">{{ thePost.excerpt.rendered | truncate: 150 }}</div>
    <div class="post-preview-vertical__categories">
      {% assign catPages = collections.all | eleventyNavigation: "categories" %}
      {% for catId in thePost.categories %}
       {% assign catPage = catId | getCategoryPage: catPages %}
        <a class="tag tag--secondary" href="{{ catPage.url }}">{{ catPage.title }}</a>
      {% endfor %}
    </div>
  </div>
  <a href="/posts/{{ thePost.id }}" class="post-preview-vertical__link-overlay"></a>
</div>
