---
layout: base.liquid
pagination:
  data: posts
  size: 1
  alias: post
  addAllPagesToCollections: true
permalink: "posts/{{ post.id }}/"
---
<main class="single-post">
  <article class="py-2 py-lg-3">
    <div class="container">
      <h1 class="single-post__title">{{ post.title.rendered }}</h1>
      <picture>
        <source type="image/webp" srcset="{{ post.better_featured_image.media_details.sizes.1536x1536.source_url | replace: '.jpg', '.webp' }}">
        <source type="image/jpg" srcset="{{ post.better_featured_image.media_details.sizes.1536x1536.source_url }}">
        <img 
          class="single-post__thumb" 
          src="{{ post.better_featured_image.media_details.sizes.1536x1536.source_url }}" 
          alt="{{ post.title.rendered }}"
          width="{{ post.better_featured_image.media_details.sizes.1536x1536.width }}"
          height="{{ post.better_featured_image.media_details.sizes.1536x1536.height }}"
          loading="lazy"
        >
      </picture>
      <div class="single-post__content">
        {{ post.content.rendered }}
      </div>
      <div class="single-post__categories">
        <h3>Categorias:</h3>
        {% assign catPages = collections.all | eleventyNavigation: "categories" %}
        {% for catId in post.categories %}
          {% assign catPage = catId | getCategoryPage: catPages %}
          <a class="tag tag--secondary" href="{{ catPage.url }}">{{ catPage.title }}</a>
        {% endfor %}
      </div>
      {% assign relatedPosts = posts | getRelatedPosts: post.categories, post.id %}
      {% if relatedPosts %}
        <div class="single-post__read-more">
          <h4>Leia também</h4>
          {% for curPost in relatedPosts %}
            {% include 'card', thePost: curPost, simplified: true %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </article>
</main>
